<div class="container"> 
    <div class="row">
        <h2 class="text-successful text-center">Bar Chart</h2>
    </div>
    <div class="row">
         <div class="col-md-12">
<div>
    <div>
      <div style="display: block">
        <canvas baseChart
          [data]="barChartData"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [type]="barChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
        </canvas>
      </div>
      <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button>
    </div>
  </div>
  </div>
  </div>

