<h1 class="text-center">Table1</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th (click)="sort('name')">Name </th>
                        <th>Gender</th>
                        <th>Mobile</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of empList;let i=index">
                        <td>{{item.name| lowercase}}</td>
                        <td>{{item.gender==1?'Male':'Female'}}</td>
                        <td>{{item.mobile}}</td>
                        <td>{{item.email}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
