<div class="container">
    <h2 class="text-center">Form Array</h2>
    <div class="row">
     <form [formGroup]="sampleform">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Path</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody formArrayName="documentList">
                <tr *ngFor="let item of getDocumentListArray().controls;let i=index" [formGroupName]="i">
                    <td><input type="text" class="form-control" formControlName="documentName" 
                        [ngClass]="{'is-invalid':submited && getControl(i).get('documentName')?.errors?.required}">
                    </td>
                    <td><input type="text" class="form-control" formControlName="documentType"
                        
                        [ngClass]="{'is-invalid':submited && getControl(i).get('documentType')?.errors?.required}"></td>
                    <td><input type="text" class="form-control" formControlName="path"
                        
                        [ngClass]="{'is-invalid':submited && getControl(i).get('path')?.errors?.required}"></td>
                    <td >
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-sm btn-primary m-2" (click)="addBtn(i)">Add</button>
                            <button class="btn btn-sm btn-primary m-2" (click)="delete(i)">Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form> 
    </div>
</div>