<div class="container">
    <a class="m-2 font-weight-bold" [routerLink]="['form']">Form</a>
    <a class="m-2 font-weight-bold" [routerLink]="['chart1']">Bar Chart</a>
    <a class="m-2 font-weight-bold" [routerLink]="['chart2']">Pie Charts</a>
    <a class="m-2 font-weight-bold" [routerLink]="['table']">Table data</a>
    <a class="m-2 font-weight-bold" routerLink="templates">Templates</a>
    <a class="m-2 font-weight-bold" routerLink="formArray">Sample Form Array</a>
    <a class="m-2 font-weight-bold" routerLink="addEmployee">AddEmployee</a>
    <a class="m-2 font-weight-bold" routerLink="rxjs">Rxjs</a>
    <a class="m-2 font-weight-bold" routerLink="flatArray">Flaten Array</a>
</div>
 <router-outlet></router-outlet>

 <!-- <app-table-data></app-table-data> -->

