<div class="row justify-content-center">
    <div class="cord w-75 mt-3">
        <div class="d-flex justify-content-right">
            <input type="text" class="form-control" [(ngModel)]="searchText" (ngModelChange)="search(searchText)"><button class="btn btn-primary" (click)="search(searchText)">Search</button>
        </div>
        <div class="row mt-3">
            <table  class="table table-bordered">
                <thead>
                    <tr>
                        <th >userId <i Class="fa fa-sort"></i></th>
                        <th (click)="sort('firstName')">firstName <i Class="fa fa-sort"></i></th>
                        <th (click)="sort('lastName')">lastName <i Class="fa fa-sort"></i></th>
                        <th (click)="sort('jobTitleName')">jobTitleName <i Class="fa fa-sort"></i></th>
                        <th (click)="sort('preferredFullName')">preferredFullName<i Class="fa fa-sort"></i></th>
                        <th>employeeCode</th>
                        <th>region</th>
                        <th (click)="sort('phoneNumber')">phoneNumber <i Class="fa fa-sort"></i></th>
                        <th (click)="sort('emailAddress')">emailAddress <i Class="fa fa-sort"></i></th>
                    </tr>
                </thead>
           
             <tbody>
                <tr *ngFor="let emp of empList">
                    <td>{{emp.userId}}</td>
                    <td>{{emp.firstName}}</td>
                    <td>{{emp.lastName}}</td>
                    <td>{{emp.jobTitleName}}</td>
                    <td>{{emp.preferredFullName}}</td>
                    <td>{{emp.employeeCode}}</td>
                    <td>{{emp.region}}</td>
                    <td>{{emp.phoneNumber}}</td>
                    <td>{{emp.emailAddress}}</td>
                </tr>
             </tbody>
            </table>
        </div>
    
    </div>
   
</div>




